
.table-view {
    -fx-background-color: transparent;
}


#ebooksNameColumn{
    -fx-background-color: red;
}
.table-column{

  -fx-background-color: #5B84B1FF;
}
.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}
.table-view .corner {
     -fx-background-color: transparent;
 }
 .table-view .table-cell{

     -fx-border-color: black;
     -fx-border-style: solid hidden hidden hidden;
     -fx-border-width : 2px;
     -fx-background-color: #5B84B1FF;
     -fx-padding: 25 5 5 5px;
        -fx-font-size : 15px;
      -fx-text-alignment : left;
 }
.table-view:row-selection:unconstrained-resize .placeholder{
 -fx-border-color: transparent;
     -fx-background-color: transparent;

}
.table-view:row-selection:constrained-resize:unconstrained-resize .column-header-background{
 	visibility:true;
 	-fx-background-color : red;
 }