
*{
    -exitButtonColor : #ff6666;
    -backgroundColorA: #5B84B1FF; 	// bluish
    -backgroundColorB: #fc766a; 		// orange
}

.CategoryPickingButtons{
    -fx-background-color : -backgroundColorA;
    -fx-border-color : -backgroundColorB;
    -fx-font-size :75px;
    -fx-text-fill: -backgroundColorB;
    -fx-font-weight: bolder  ;
    -fx-style : italic;
    -fx-text-alignment : center ;
}
.CategoryPickingButtons:hover{
    -fx-background-color : -backgroundColorB;
    -fx-text-fill: -backgroundColorA;
}
#orderDetailsButton{
    -fx-background-color : #0066ff;
    -fx-background-radius:12px;
    -fx-alignment:center;
}
    .topButtons:hover{
    -fx-background-color :#7498be;
}
    .topButtons{
    -fx-background-color :transparent;
}

.DeleteButtons{
    -fx-border-color : red;
    -fx-border-width : 2px;
    -fx-border-radius : 10px;
    -fx-alignment:center;
    -fx-font-size :17px;
    -fx-font-weight: bolder  ;
    -fx-text-alignment : center ;
    -fx-background-color : transparent;
}
.DeleteButtons:hover{
    -fx-background-color : #ff4d4d;
    -fx-background-radius :10px;
    -fx-background-insets: 0;
}
#informationLabel{
    -fx-background-color: white;
    -fx-border-color : black;
    -fx-font-size : 15px;
    -fx-padding :10px;
    -fx-text-alignment:center;
    -fx-alignment : center;
}
.orderDetailsLabel{
    -fx-font-size :20px;
    -fx-font-weight: bolder  ;
    -fx-text-alignment : center ;
}
.importantDataLabels{
    -fx-text-fill: white;
    -fx-font-size: 20px;
     -fx-font-weight: bolder  ;

}
#orderDetailsButton:hover{
    -fx-background-color : #3385ff;
}

.clientTableviewButtons:hover{
    -fx-border-color : #fc766a ;
}

#loginHereButton{
    -fx-background-color : transparent;
    -fx-font-size : 18px;
}
#loginHereButton:hover{
    -fx-font-weight: bolder  ;

}
#clientButtons{
    -fx-background-color: transparent;
    -fx-padding: 10px;
}

.accountButtons{
    -fx-background-color: -backgroundColorB;
    -fx-background-radius:18px;
    -fx-font-size :20px;
    -fx-font-weight: bolder  ;
}

.accountButtons:hover{
    -fx-background-color: #fb5e50;
}

#exitButton:hover{
    -fx-background-color :-exitButtonColor;
    -fx-border-color: -exitButtonColor;
}

#titleLabel{
    -fx-font-weight	: bolder  ;
    -fx-font-family :'Bauhaus 93';
    -fx-text-fill:linear-gradient( black,black);
    -fx-text-alignment : center ;
    -fx-font-size :60px;
}
#paymentMethodsScrollPane{
    -fx-background : -backgroundColorA;
    -fx-border-color : -backgroundColorA;
    -fx-font-size : 15px;
}
.shoppingCartLabels{
    -fx-font-size :20px;
    -fx-font-weight: bolder  ;
}
#notification #notificationLabel{
    -fx-font-size : 17px;
    -fx-font-weight: bolder  ;
    -fx-font-family :Helvetica;
}
#notification{
    -fx-border-color : white;
    -fx-background-color : transparent ;
    -fx-padding: 10px;
    -fx-border-radius : 10px;
    -fx-background-radius : 10px;
}


.alert,
.choice-dialog.dialog-pane,
.dialog-pane{
    -fx-background-color: -backgroundColorA;
    -fx-border-color: -backgroundColorB;
    -fx-font-size : 22px;
    -fx-font-weight: bolder  ;
    -fx-font-alignment : center;
    -fx-font-family :Helvetica;
    -fx-alignment:center;
}
.alert .button{
    -fx-font-size : 15 px;
    -fx-alignment:center;
    -fx-border-radius :9px;
    -fx-background-radius :9px;
    -fx-border-color : -backgroundColorB;
    -fx-background-color: transparent;

}
.alert .button:hover{
    -fx-background-color:-backgroundColorB;
    -fx-background-insets : 0px;
}
.alert:header .header-panel {
    -fx-background-color: -backgroundColorB;
    -fx-alignment:center;
}


.OrangeButtons{
    -fx-background-color : -backgroundColorB;
    -fx-background-radius : 13px;
    -fx-border-width : 2px;
    -fx-border-radius : 13px;
    -fx-font-size : 17px;
    -fx-text-fill : #5b84b1;
    -fx-font-weight: bolder  ;
    -fx-font-family :Helvetica;
    -fx-font-alignment : center;
    -fx-background-insets: 0;
}
.OrangeButtons:focused,
.OrangeButtons:hover{
    -fx-border-color :Black;
    -fx-background-insets: 0;

}
.AccountDetails{
    -fx-font-size :21px;
    -fx-font-weight: bolder  ;
}
 .passwordLabels{
    -fx-border-color : transparent;
    -fx-font-size :18px;
    -fx-font-weight	: bolder  ;

}

 .text-field:focused,
 .check-box:determinate .box .mark: focused,
 #inputField:focused{
    -fx-effect : null;
    -fx-border-color: -backgroundColorB;
    -fx-border-width: 3px;
    -fx-border-radius: 3px;
}


//table view


.table-view,
.table-view .column-header-background .filler,
.tab-pane:top .tab-header-area .tab-header-background,
.table-view .corner,
.table-view:row-selection:unconstrained-resize .placeholder,
.table-view:row-selection:unconstrained-resize .filler,
.table-view:row-selection:unconstrained-resize .corner
{
    -fx-background-color: transparent;
}


.table-view:row-selection:unconstrained-resize .column-header-background .nested-column-header .table-column .label{
    -fx-font-weight	: bolder  ;
    -fx-font-family :Helvetica;
    -fx-text-fill : -backgroundColorB;
    -fx-font-size : 20px;
    -fx-alignment : center;
}

.tab-pane:top .tab-header-area .headers-region .tab:selected:top .tab-container{
    -fx-min-height : 15px;
}
.tab-pane:top .tab-header-area .headers-region .tab:top{
    -fx-background-color: transparent;
    -fx-border-color : transparent;
    -fx-font-weight	: bolder  ;
    -fx-font-family :Helvetica;
    -fx-alignment :top-center;
    -fx-text-alignment : center ;
    -fx-font-size : 20px;


}
.table-view:row-selection:constrained-resize:unconstrained-resize .column-header-background .nested-column-header .table-column .label{
    -fx-font-weight	: bolder  ;
    -fx-font-family :Helvetica;
    -fx-text-fill : -backgroundColorB;
    -fx-font-size : 20px;
    -fx-alignment : center;

}

.table-column{
    -fx-background-color: -backgroundColorA;

}

 .table-view .table-cell{
    -fx-border-color: black;
    -fx-border-style: solid hidden hidden hidden;
    -fx-border-width : 2px;
    -fx-background-color: -backgroundColorA;
    -fx-padding: 0px;
    -fx-font-size : 19px;
    -fx-font-alignment: center;
    -fx-alignment : center;
 }

.table-view .show-hide-columns-button{
    -fx-background-color: -backgroundColorA;
}



.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
     -fx-background-color: transparent;
 }
 .table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  -backgroundColorB;
}

  .table-view .virtual-flow .scroll-bar .increment-button,
  .table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 1;
    -fx-background-color : transparent;
    -fx-padding: 2;
 }